<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="signUp.css">
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <div id="main">
            <div id="memeber_title">
                <img src="./image/kakaoLogo.PNG">
            </div>
            <div id="member_input">
                <div>
                    <input type="text" id="id_check" name="id" placeholder="아이디">
                    <input type="password" placeholder="패스워드">
                    <input type="password" placeholder="패스워드확인">
                </div>
                <div>
                    <input type="text" placeholder="이름">
                    <input type="text" placeholder="주소">
                </div>
                <div>
                    <input type="email" placeholder="이메일">
                    <fieldset>
                        <select>
                            <option value="010" selected>
                                010
                            </option>
                            <option value="011">
                                011
                            </option>
                            <option value="019">
                                019
                            </option>
                        </select>
                        <input type="input" placeholder="폰번호">
                    </fieldset>
                    <input type="file" placeholder="프로필사진" accept=".png , .jpeg , .jpg">
                    <!-- <label class="btn btn-primary btn-file">
                            프로필사진 추가 <input type="file" style="display: none;" placeholder="이메일" accept=".png , .jpeg , .jpg">
                        </label> -->
                </div>
            </div>
            <button>∇&nbsp;가입하기</button>
        </div>
    </div>

    <script href="signUp.js"></script>
</body>
</html>