*{margin: 0; padding: 0;}

.headerInner{
    width: 1170px;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 20px;
}

#logo{
    width: calc(100% / 3);
    height: 40px;
    float: right;
    background-image: url(https://www.subway.co.kr/images/common/logo_w.png);
    background-repeat: no-repeat;
    background-position: center;
}

#headerIcon{
    float: right;
    width: calc(100% / 3);
}
#signIn, #signUp{
    font-size: 13px;
    float: right;
    margin-right: 20px;
    list-style: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#global{
    list-style: none;
    width: 30px;
    height: 30px;
    margin-right: 0;
    float: right;
    background-image: url(https://www.subway.co.kr/images/common/icon_utill_global.png);
}

#mainMenu > li:hover {
    color: green
}

.menuSection{
    width: 1170px;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden; 
}

#mainMenu > li{
    width: calc(100% / 6);
    height: 30px;
    padding-top: 15px;
    line-height: 15px;
    font-size: 15px;
    font-weight: bold;
    float: left;
    list-style: none;
    text-align: center;
}
.mainSection{
    position: relative;
}
#menuHover{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid gray;
    position: absolute;
    z-index: 1;
    display: none;
}
#menuHoverInner{
    width: 1170px;
    height: 260px;
    margin: 0 auto;
}
.menuItem{
    width: calc(100% / 6);
    float: left;
}

.itemList{
    list-style: none;
}
.itemList{
    text-align: center;
    
}
.itemList > li{
    margin-top: 15px;
    color: gray;
}
#banner{
    width: 100%;
    height: 440px;
    background-image: url(https://www.subway.co.kr/upload/banner/main_PC_1920x440_20201006110232887.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
#bannerInner{
    width: 1170px;
    height: 440px;
    margin: 0 auto;
    position: relative;
}
#bannerBtn{
    position: absolute;
    right: 0;
    bottom: -40px;
}
#box1{
    width:300px;
    background: #ffce32;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 30px 0 0 0;
}
#boxInner{
    width: 110px;
    margin: 0 auto;
    overflow: hidden;
}
#findIcon{
    width: 30px;
    height: 80px;
    line-height: 80px;
    float: left;
    background-image: url(https://www.subway.co.kr/images/main/icon_map.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}
#find{
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
    float: left;
}
#box2{
    width:300px;
    height: 80px;
    background: #009223;
    float: left;
    box-sizing: border-box;
    border-radius: 0 0 30px 0;
}
#boxInner2{
    width: 160px;
    margin: 0 auto;
    overflow: hidden;
}
#applyIcon{
    width: 30px;
    height: 80px;
    line-height: 80px;
    float: left;
    background-image: url(https://www.subway.co.kr/images/main/icon_franchise.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}
#apply{
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
    float: left;
    color: white;
}

#menu{
    overflow: hidden;
    margin-top: 80px;
}

#menuInner{
    width: 1170px;
    margin: 0 auto;
}
#title{
    float: left;
}
#titleName{
    font-size: 40px;
    font-weight: bold;
    height: 77px;
    line-height: 77px;
    background-image: url(https://www.subway.co.kr/images/main/bul_tit.png);
    background-repeat: no-repeat;
    background-position: left;
}
#menuList{
    float: right;
}
#menuList > li{
    font-size: 14px;
    color: gray;
    float: left;
    list-style: none;
    margin-right: 15px;
    height: 77px;
    line-height: 77px;
}
#menuContainer{
    width: 1170px;
    padding-top: 60px;
    overflow: hidden;
    padding: 0 20px;
}
#egg{
    width: calc((100% - 40px)/ 4);
    overflow: hidden;
    float: left;
}
#egg > #img{
    width: 100%;
    height: 182px;
    margin: 0 auto;
    text-align: center;
}
#egg > #name{
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    width: 100%;
    text-align: center;
}
#egg > #sub{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: gray;
}
#bmt{
    width: calc((100% - 40px)/ 4);
    overflow: hidden;
    float: left;
}
#bmt > #img{
    width: 100%;
    height: 182px;
    margin: 0 auto;
    text-align: center;
}
#bmt > #name{
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    width: 100%;
    text-align: center;
}
#bmt > #sub{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: gray;
}
#blt{
    width: calc((100% - 40px)/ 4);
    overflow: hidden;
    float: left;
}
#blt > #img{
    width: 100%;
    height: 182px;
    margin: 0 auto;
    text-align: center;
}
#blt > #name{
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    width: 100%;
    text-align: center;
}
#blt > #sub{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: gray;
}
#meat{
    width: calc((100% - 40px)/ 4);
    overflow: hidden;
    float: left;
}
#meat > #img{
    width: 100%;
    height: 182px;
    margin: 0 auto;
    text-align: center;
}
#meat > #name{
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    width: 100%;
    text-align: center;
}
#meat > #sub{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: gray;
}

#subContainer{
    margin-top: 30px;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(https://www.subway.co.kr/images/main/bg_content.gif);
}

#subInner{
    width: 1280px;
    padding: 80px 0;
    margin: 0 auto;
}

#boxes1{
    width: 100%;
    height: 300px;
}

#boxes1 > #subBox1{
    float: left;
    width: 400px;
    height: 100%;
    background-image: url(https://www.subway.co.kr/images/main/bg_utilization.png);
    margin-left: 55px;
}

#subBox1 > #contents{
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}
#subBox1 > #box1btn{
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    width: 96px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 30px;
    margin-top: 120px;
}

#boxes1 > #subBox2{
    float: left;
    width: 825px;
    height: 100%;
    background-image: url(https://www.subway.co.kr/images/main/img_subway_history.png);
}
#subBox2 > #contents{
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-left: 400px;
}
#subBox2 > #box2btn{
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    width: 132px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 400px;
    margin-top: 120px;
}

#boxes2{
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
#boxes2 > #subBox1{
    float: left;
    width: 870px;
    height: 100%;
    margin-left: 55px;
    background: white;
    border-radius: 30px 0 30px 0;
}

#left{
    float: left;
    overflow: hidden;
    margin-top: 75px;
    margin-left: 60px;
}

#left > #title{
    font-size: 28px;
    font-weight: bold;
    background-image: url(https://www.subway.co.kr/images/main/bul_tit.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 77px;
    width: 100%;
    line-height: 77px;
}
#left > #context{
    font-size: 14px;
    font-weight: bold;
    color: gray;
    text-align: center;
    height: 52px;
    width: 100%;
    margin-top: 80px;
    line-height: 26px;
}

#right{
    float: left;
    overflow: hidden;

    margin-top: 75px;
    margin-left: 60px;
}
#rightInfo{
    list-style: none;
    font-size: 15px;
    margin-left: 50px;
}
#rightInfo > li{
    margin-bottom: 20px;
}
#more{
    margin-top: 33px;
    font-size: 14px;
    color: gray;
    margin-left: 50px;
}

#boxes2 > #subBox2{
    float: right;
    width: 270px;
    height: 100%;
    margin-right: 55px;
    background-image: url(https://www.subway.co.kr/upload/banner/img_20200909060458297.jpg);
    border-radius: 0 30px 0 30px;
}

#footerSection{
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

#footerInner{
    width: 1000px;
    margin: 0 auto;
}

.item{
    width: calc((100% - 60px) / 4);
    height: 70px;
    float: left;
    margin-left: 20px;
}

.item:nth-child(1){
    margin-left: 0;
}
.item:nth-child(1) > .image{
    width: 70px;
    height: 70px;
    background-image: url(https://www.subway.co.kr/images/main/icon_quickmenu.png);
    background-position: 0;
    float: left;
}
.item:nth-child(1) > .content{
    float: left;
    height: 70px;
    margin-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}
.item:nth-child(1) > .content > .title {
    font-size: 17px;
    font-weight: bold;
}
.item:nth-child(1) > .content > .contents{
    font-size: 12px;
    color: gray;
}

.item:nth-child(2) > .image{
    width: 70px;
    height: 70px;
    background-image: url(https://www.subway.co.kr/images/main/icon_quickmenu.png);
    background-position: -70px;
    float: left;
}
.item:nth-child(2) > .content{
    float: left;
    height: 70px;
    margin-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}
.item:nth-child(2) > .content > .title {
    font-size: 17px;
    font-weight: bold;
}
.item:nth-child(2) > .content > .contents{
    font-size: 12px;
    color: gray;
}

.item:nth-child(3) > .image{
    width: 70px;
    height: 70px;
    background-image: url(https://www.subway.co.kr/images/main/icon_quickmenu.png);
    background-position: -140px;
    float: left;
}
.item:nth-child(3) > .content{
    float: left;
    height: 70px;
    margin-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}
.item:nth-child(3) > .content > .title {
    font-size: 17px;
    font-weight: bold;
}
.item:nth-child(3) > .content > .contents{
    font-size: 12px;
    color: gray;
}

/* .item:nth-child(4){
    margin-left: 20px;
} */
.item:nth-child(4) > .image{
    width: 70px;
    height: 70px;
    background-image: url(https://www.subway.co.kr/images/main/icon_quickmenu.png);
    background-position: -210px;
    float: left;
}
.item:nth-child(4) > .content{
    float: left;
    height: 70px;
    margin-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}
.item:nth-child(4) > .content > .title {
    font-size: 17px;
    font-weight: bold;
}
.item:nth-child(4) > .content > .contents{
    font-size: 12px;
    color: gray;
}

#footer{
    width: 100%;
    overflow: hidden;
    background: #292929;
}

#footerIn{
    width: 1170px;
    margin: 22 auto;
    overflow: hidden;
}

#section1{
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
}
#footerMenu{
    margin: 20px 0;
}
#footerMenu > li{
    float: left;
    list-style: none;
    font-size: 14px;
    color: lightgray;
    margin-right: 15px;
    line-height: 35px;
}


#section2{
    float: left;
    margin-top: 10px;
}
#subwayInfo > li{
    float: left;
    list-style: none;
    font-size: 13px;
    color: lightgray;
    margin-right: 15px;
}
#subway{
    font-size: 13px;
    color: lightgray;
}

#section3{
    float: right;
}

#instagram{
    width: 50px;
    height: 50px;
    background-image: url(https://www.subway.co.kr/images/common/icon_sns_instar.png);
    list-style: none;
    float: left;
}
#facebook{
    width: 50px;
    height: 50px;
    background-image: url(https://www.subway.co.kr/images/common/icon_sns_facebook.png);
    list-style: none;
    float: left;
    margin-left: 20px;
}